<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.redbeet.whatI.game.GameDAO">
	<select id="gameList" resultType="GameDTO">
		select * from game order by num desc
	</select>
	
	<insert id="gameInsert" parameterType="GameDTO">
		insert into game (num, title, developer, genre, rate, release_date, platform, info, price)
		values (game_seq.nextval, #{title}, #{developer}, #{genre}, 0, #{release_date}, #{platform}, #{info}, #{price})
	</insert>
	
	<select id="gameSelect" parameterType="GameDTO" resultType="GameDTO">
		select * from game where num=#{num}
	</select>
	

</mapper>