<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.redbeet.whatI.gReview.GReviewDAO">
	<select id="gReviewList" parameterType="GReviewDTO" resultType="GReviewDTO">
		select * from game_review 
		where game_num=#{game_num}
		order by num desc
	</select>
	
	<insert id="newGReview" parameterType="GReviewDTO">
		insert into game_review values (gr_seq.nextval, #{game_num}, #{comments}, #{id}, #{rate})
	</insert>
	
	<update id="updateRate" parameterType="GReviewDTO">
		update game set rate=(select avg(rate) from game_review where game_num=#{game_num}) where num=#{game_num}
	</update>
	
	<select id="gReviewSelect" parameterType="GReviewDTO" resultType="GReviewDTO">
		select * from game_review where num=#{num}
	</select>
	
	
	<delete id="gReviewDelete" parameterType="GReviewDTO">
		delete game_review where num=#{num}
	</delete>
</mapper>